@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Single</title>
    <link href="~/css/QD_css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <!--theme-style-->
    <link href="~/css/QD_css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <script type="text/javascript" src="~/Scripts/QD_js/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/QD_js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!----start-top-nav-script---->

    <script type="text/javascript" src="~/Scripts/QD_js/modernizr.custom.js"></script>
    <!---- animated-css ---->
    <link href="~/css/QD_css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!---- animated-css ---->
</head>
<body>
    <!--header-->
    <div class="header header-head" id="home">
        <div class="container">
            <div class="head">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div tooltip="返回首页" class="navbar-brand logo wow fadeInLeft animated" data-wow-delay=".5s">
                            <h1><span><a href="~/Blog_Home/index" style="color:#AF8484;">团<br>子<br>先<br>生<br><span>是<br></span>咸<br>鱼</a></span></h1>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        @*<div class="banner">
                <a class="hvr-rectangle-out wow fadeInDown animated" style="color:yellow" data-wow-delay="1.5s">123</a>
            </div>*@
                        <ul class="nav navbar-nav wow fadeInDown animated" data-wow-delay="0.5s">
                            <li><a href="~/Blog_Home/index" ><span class="fontcolor1" data-hover="Home">主页</span></a> </li>
                            <li><a href="~/Blog_Home/index" ><span class="fontcolor1" data-hover="About">心情</span> </a> </li>
                            <li><a href="~/Blog_Home/index" ><span class="fontcolor1" data-hover="Gallery">相册</span></a></li>
                            <li><a href="~/Blog_Home/index" ><span class="fontcolor1" data-hover="Services">博客</span> </a></li>
                            <li><a href="~/Blog_Home/index" ><span class="fontcolor1" data-hover="Events">Demo</span> </a></li>
                            <li><a href="~/Blog_Home/index" ><span class="fontcolor1" data-hover="Team">留言板</span> </a></li>
                            <li><a href="~/Blog_Home/index"><span class="fontcolor1" data-hover="Contact">注册</span></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div>

        </div>
    </div>
    <!--content-->
    <!--content-->
    <div class="single">
        <div class="container">

            <div class="single-top">
                <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" src="~/images/QD_images/bj3.jpg" alt="" />
                <div class="lone-line">
                    <h4>博客写在这里,技术文档什么的...</h4>
                    <ul class="grid-blog">
                        <li><span><i class="glyphicon glyphicon-time"> </i>2017.04.08</span></li>
                        <li><a href="#"><i class="glyphicon glyphicon-comment"> </i>3 留言</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-share"> </i>Orz</a></li>
                    </ul>
                    <p class="wow fadeInLeft animated" data-wow-delay=".5s">
                        没有么有还没写这里面吗.
                        <span>
                            哇,是真的没有写啊.
                        </span>
                    </p>
                </div>
            </div>
            <div class="comment">
                <h3>Comments</h3>
                <div class="media wow fadeInLeft animated" data-wow-delay=".5s">
                    <div class="code-in">
                        <p class="smith"><a href="#">咸鱼</a> <span>2017-04-08, 15:20</span></p>
                        <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media-left">
                        <a href="#">
                            <img style="height:5em;width:5em;" src="~/images/QD_images/tx1.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">

                        <p>不存在的.</p>
                    </div>
                </div>
                <div class="media media-1 wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="code-in">
                        <p class="smith"><a href="#"> 团子</a> <span>2017-04-08, 15:20</span></p>
                        <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media-left">
                        <a href="#">
                            <img style="height:5em;width:5em;" src="~/images/QD_images/tx1.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">

                        <p>rbq!!!!.</p>
                    </div>
                </div>
                <div class="media wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="code-in">
                        <p class="smith"><a href="#">囧</a> <span>2017-04-08, 15:20</span></p>
                        <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media-left">
                        <a href="#">
                            <img style="height:5em;width:5em;" src="~/images/QD_images/tx1.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">

                        <p>23333.</p>
                    </div>
                </div>
            </div>
            <div class="leave">
                <h3>Leave a comment</h3>
                <form>
                    <div class="single-grid wow fadeInLeft animated" data-wow-delay=".5s">

                        <input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Name';}">

                        <input type="text" value="E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'E-mail';}">


                        <input type="text" value="Web site" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Web site';}">

                        <textarea value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Comment';}">Comment</textarea>
                        <label class="hvr-rectangle-out">
                            <input type="submit" value="Send">
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!---->
    <!--//content-->
    <!--//footer-->
    <div class="footer">

        <div class="container">
            <ul class="social">
                <li><a href="#"><i></i></a></li>
                <li><a href="#"><i class="ic1"></i></a></li>
                <li><a href="#"><i class="ic2"></i></a></li>

            </ul>
            <p class="footer-class">Copyright &copy; 2016.Company name All rights reserved.</p>

        </div>

    </div>
    <!--//footer-->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>